.container_jugadores{
    width: 100%;
    color: hsl(360, 0%, 92%);
}

.puntos{
    padding-top: 20px;
}
.img_cartas{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, 120px);
    grid-template-rows: repeat( auto-fit, 180px);
    column-gap: 10px;
    row-gap: 10px;

    img{
        width: 100%;
        height:100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 850px){
    .altura{
        height: 180px;
    }
}

@media screen and (max-width: 410px) {
    .puntos{
        font-size: 22px;
    }
    .img_cartas{ 
        grid-template-columns: repeat( auto-fit, 90px);
        grid-template-rows: repeat( auto-fit, 140px);
    } 
}